{"openapi":"3.1.0","info":{"title":"Muapi API","description":"Generative-media API: text-to-image, image-to-video, video-edit, lipsync, audio, 3D, and LLMs — 500+ models behind a single key.\n\n### Quickstart\n```http\nPOST https://api.muapi.ai/api/v1/{model-endpoint}\nx-api-key: YOUR_KEY\nContent-Type: application/json\n\n{ \"prompt\": \"…\" }\n```\nReturns `{ \"request_id\": \"abc123\" }`. Poll `GET /predictions/{request_id}/result` until `status: completed`, or pass `?webhook=https://you/cb` to be POSTed the result.\n\n### Picking a model\nOperations are grouped by **category** (text-to-image, video-edit, lipsync, …) and tagged with a **quality tier** in the summary:\n\n- `best` — flagship pro/ultra/master variants (highest fidelity, slowest, most expensive)\n- `balanced` — dev / standard mid-tier (good default)\n- `fast` — turbo / klein / schnell (sub-second to seconds)\n- `budget` — cheapest per-call (wan 2.x, hailuo standard, pixverse)\n\nEach operation's description starts with `Action: … Input: … Output: … Use for: …` so an LLM can match user intent to model directly.\n\n### Common conventions\n- All generation is **async**: every POST returns a `request_id`; outputs land on `GET /predictions/{id}/result`.\n- Status values: `queued`, `pending`, `processing`, `completed`, `failed`, `cancelled`.\n- `webhook` query param turns any endpoint into push delivery.\n- Costs are debited from the wallet on completion; `GET /account/balance` reports remaining credit.\n- Sandbox keys (`is_test: true` on key creation) return mock outputs without billing.\n\n### Auth\n`x-api-key: <key>` on every request. Create keys via `POST /api/v1/keys` or `https://muapi.ai/account/api-keys`.\n","contact":{"name":"Muapi Support","url":"https://muapi.ai/","email":"support@muapi.ai"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.muapi.ai","description":"Production"}],"paths":{"/auth/register":{"post":{"tags":["Auth"],"summary":"Register","operationId":"register_auth_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterLoginRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/login":{"post":{"tags":["Auth"],"summary":"Login","operationId":"login_auth_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/logout":{"post":{"tags":["Auth"],"summary":"Logout","operationId":"logout_auth_logout_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/verify-otp":{"post":{"tags":["Auth"],"summary":"Verify Otp","operationId":"verify_otp_auth_verify_otp_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/request-otp":{"post":{"tags":["Auth"],"summary":"Request Otp","operationId":"request_otp_auth_request_otp_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/login-otp":{"post":{"tags":["Auth"],"summary":"Login Otp","operationId":"login_otp_auth_login_otp_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/forgot-password":{"post":{"tags":["Auth"],"summary":"Forgot Password","operationId":"forgot_password_auth_forgot_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/reset-password":{"post":{"tags":["Auth"],"summary":"Reset Password","operationId":"reset_password_auth_reset_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/get-google-url":{"get":{"tags":["Auth"],"summary":"Get Google Url","operationId":"get_google_url_auth_get_google_url_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/google_callback":{"get":{"tags":["Auth"],"summary":"Google Callback","operationId":"google_callback_auth_google_callback_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/google/mobile":{"post":{"tags":["Auth"],"summary":"Google Mobile Callback","operationId":"google_mobile_callback_auth_google_mobile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleMobileLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/cli/login":{"post":{"tags":["Auth"],"summary":"Cli Login","description":"Exchange email + password for an API key. Designed for CLI / agents.","operationId":"cli_login_auth_cli_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_topup":{"post":{"tags":["Auth"],"summary":"Admin Topup","operationId":"admin_topup_auth_admin_topup_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_user_info":{"get":{"tags":["Auth"],"summary":"Admin User Info","operationId":"admin_user_info_auth_admin_user_info_get","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","title":"Email"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_manage_subscription":{"post":{"tags":["Auth"],"summary":"Admin Manage Subscription","operationId":"admin_manage_subscription_auth_admin_manage_subscription_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_stripe_charges":{"get":{"tags":["Auth"],"summary":"Admin Stripe Charges","operationId":"admin_stripe_charges_auth_admin_stripe_charges_get","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","title":"Email"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_stripe_refund":{"post":{"tags":["Auth"],"summary":"Admin Stripe Refund","operationId":"admin_stripe_refund_auth_admin_stripe_refund_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/admin_refund":{"post":{"tags":["Auth"],"summary":"Admin Refund","operationId":"admin_refund_auth_admin_refund_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/auth/virtual_login":{"post":{"tags":["Auth"],"summary":"Virtual Login","operationId":"virtual_login_auth_virtual_login_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"text/plain":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/lora-data":{"get":{"tags":["Dashboard"],"summary":"Get Lora Data","operationId":"get_lora_data_app_lora_data_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","title":"Name"}},{"name":"lora_type","in":"query","required":true,"schema":{"type":"string","title":"Lora Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/lora-models-data":{"get":{"tags":["Dashboard"],"summary":"Get Lora Models Data","operationId":"get_lora_models_data_app_lora_models_data_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"q","in":"query","required":false,"schema":{"type":"string","default":"","title":"Q"}},{"name":"lora_type","in":"query","required":true,"schema":{"type":"string","title":"Lora Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/user_details":{"get":{"tags":["Dashboard"],"summary":"Get Profile","operationId":"get_profile_app_user_details_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/app/generate-api-key":{"post":{"tags":["Dashboard"],"summary":"Generate Api Key","operationId":"generate_api_key_app_generate_api_key_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIKeyCreateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_user_keys":{"get":{"tags":["Dashboard"],"summary":"Get All Api Keys","operationId":"get_all_api_keys_app_get_user_keys_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/APIKeyResponse"},"type":"array","title":"Response Get All Api Keys App Get User Keys Get"}}}}}}},"/app/delete_api_keys/{key_id}":{"delete":{"tags":["Dashboard"],"summary":"Delete Api Key","operationId":"delete_api_key_app_delete_api_keys__key_id__delete","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"integer","title":"Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/update_api_key/{key_id}":{"put":{"tags":["Dashboard"],"summary":"Update Api Key Ips","operationId":"update_api_key_ips_app_update_api_key__key_id__put","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"integer","title":"Key Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIKeyUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get-task-data":{"get":{"tags":["Dashboard"],"summary":"Get Task Data","operationId":"get_task_data_app_get_task_data_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/calculate_dynamic_cost":{"post":{"tags":["Dashboard"],"summary":"Calculate Dynamic Cost","operationId":"calculate_dynamic_cost_app_calculate_dynamic_cost_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicCostRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_file_upload_url":{"get":{"tags":["Dashboard"],"summary":"Get File Upload Url","operationId":"get_file_upload_url_app_get_file_upload_url_get","parameters":[{"name":"filename","in":"query","required":true,"schema":{"type":"string","description":"Filename to upload","title":"Filename"},"description":"Filename to upload"},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_homepage_models":{"get":{"tags":["Dashboard"],"summary":"Get All Ai Tasks","operationId":"get_all_ai_tasks_app_get_homepage_models_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AITaskResponse"},"type":"array","title":"Response Get All Ai Tasks App Get Homepage Models Get"}}}}}}},"/app/get_model_name_for_embedcode":{"get":{"tags":["Dashboard"],"summary":"Get Model Name For Embedcode","operationId":"get_model_name_for_embedcode_app_get_model_name_for_embedcode_get","parameters":[{"name":"embed_code","in":"query","required":true,"schema":{"type":"string","title":"Embed Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbedTaskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/credit_transactions":{"get":{"tags":["Dashboard"],"summary":"Get Credit Transactions","operationId":"get_credit_transactions_app_credit_transactions_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedTransactionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_run_history_data":{"get":{"tags":["Dashboard"],"summary":"Get All Usage Logs","operationId":"get_all_usage_logs_app_get_run_history_data_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"include_count","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Include Count"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedUsageLogResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_run_history_data_by_search":{"get":{"tags":["Dashboard"],"summary":"Get All Usage Logs","operationId":"get_all_usage_logs_app_get_run_history_data_by_search_get","parameters":[{"name":"request_id","in":"query","required":false,"schema":{"type":"string","title":"Request Id"}},{"name":"model_name","in":"query","required":false,"schema":{"type":"string","title":"Model Name"}},{"name":"created_at","in":"query","required":false,"schema":{"type":"string","format":"date","title":"Created At"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","title":"Status"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedUsageLogResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_gallery_data":{"get":{"tags":["Dashboard"],"summary":"Get Gallery Data","operationId":"get_gallery_data_app_get_gallery_data_get","parameters":[{"name":"media_type","in":"query","required":false,"schema":{"type":"string","description":"Type of media to fetch: all, image, video, audio","default":"all","title":"Media Type"},"description":"Type of media to fetch: all, image, video, audio"},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedGalleryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/prediction_response/{request_id}":{"get":{"tags":["Dashboard"],"summary":"Get Usage Log By Request Id","operationId":"get_usage_log_by_request_id_app_prediction_response__request_id__get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageLogDetailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/cancel_prediction/{request_id}":{"post":{"tags":["Dashboard"],"summary":"Cancel Prediction","operationId":"cancel_prediction_app_cancel_prediction__request_id__post","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/refetch_status/{task_id}":{"post":{"tags":["Dashboard"],"summary":"Refetch Status","operationId":"refetch_status_app_refetch_status__task_id__post","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","title":"Task Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/usage_by_keys":{"get":{"tags":["Dashboard"],"summary":"Get Usage By Keys","operationId":"get_usage_by_keys_app_usage_by_keys_get","parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/usage_data_by_user":{"get":{"tags":["Dashboard"],"summary":"Get Usage Summary","operationId":"get_usage_summary_app_usage_data_by_user_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/full_usage_statistics":{"get":{"tags":["Dashboard"],"summary":"Get Full Usage Statistics","operationId":"get_full_usage_statistics_app_full_usage_statistics_get","parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_video_metadata_for_seo":{"get":{"tags":["Dashboard"],"summary":"Get Video Metadata For Seo","operationId":"get_video_metadata_for_seo_app_get_video_metadata_for_seo_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get_lora_metadata_for_seo":{"get":{"tags":["Dashboard"],"summary":"Get Lora Metadata For Seo","operationId":"get_lora_metadata_for_seo_app_get_lora_metadata_for_seo_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","title":"Name"}},{"name":"lora_type","in":"query","required":true,"schema":{"type":"string","title":"Lora Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/sitemap.xml":{"get":{"tags":["Dashboard"],"summary":"Sitemap","operationId":"sitemap_app_sitemap_xml_get","responses":{"200":{"description":"Successful Response"}}}},"/app/sitemap-pages.xml":{"get":{"tags":["Dashboard"],"summary":"Sitemap Pages","operationId":"sitemap_pages_app_sitemap_pages_xml_get","responses":{"200":{"description":"Successful Response"}}}},"/app/sitemap-models.xml":{"get":{"tags":["Dashboard"],"summary":"Sitemap Models","operationId":"sitemap_models_app_sitemap_models_xml_get","responses":{"200":{"description":"Successful Response"}}}},"/app/pdf/{filename}":{"get":{"tags":["Dashboard"],"summary":"Serve Pdf","operationId":"serve_pdf_app_pdf__filename__get","parameters":[{"name":"filename","in":"path","required":true,"schema":{"type":"string","title":"Filename"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/add-update":{"post":{"tags":["Dashboard"],"summary":"Add Updates","operationId":"add_updates_app_add_update_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBase"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/get-updates-list":{"get":{"tags":["Dashboard"],"summary":"Get Updates","operationId":"get_updates_app_get_updates_list_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/app/delete-update/{update_id}":{"delete":{"tags":["Dashboard"],"summary":"Delete Update","operationId":"delete_update_app_delete_update__update_id__delete","parameters":[{"name":"update_id","in":"path","required":true,"schema":{"type":"integer","title":"Update Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/edit-update/{update_id}":{"put":{"tags":["Dashboard"],"summary":"Edit Update","operationId":"edit_update_app_edit_update__update_id__put","parameters":[{"name":"update_id","in":"path","required":true,"schema":{"type":"integer","title":"Update Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBase"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/admin_stats":{"get":{"tags":["Dashboard"],"summary":"Get Admin Stats","operationId":"get_admin_stats_app_admin_stats_get","parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","default":"all","title":"Period"}},{"name":"start_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Start Date"}},{"name":"end_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"End Date"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/admin_balances":{"get":{"tags":["Dashboard"],"summary":"Get Admin Balances","operationId":"get_admin_balances_app_admin_balances_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/app/studio-history":{"post":{"tags":["Dashboard"],"summary":"Save Studio History","description":"Save a studio generation result to the user's history.","operationId":"save_studio_history_app_studio_history_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"get":{"tags":["Dashboard"],"summary":"Get Studio History","description":"Get the user's studio generation history.","operationId":"get_studio_history_app_studio_history_get","parameters":[{"name":"generation_type","in":"query","required":false,"schema":{"type":"string","title":"Generation Type"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/interest":{"post":{"tags":["Dashboard"],"summary":"Register App Interest","description":"Register user interest for a coming-soon application template.","operationId":"register_app_interest_app_interest_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppInterestRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/interests":{"get":{"tags":["Dashboard"],"summary":"Get App Interests","description":"Get the list of app names the user is interested in.","operationId":"get_app_interests_app_interests_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/interest_counts":{"get":{"tags":["Dashboard"],"summary":"Get App Interest Counts","description":"Public: total request count per app_name for the /apps page ordering.","operationId":"get_app_interest_counts_app_interest_counts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/app/toggle_favourite_model":{"post":{"tags":["Dashboard"],"summary":"Toggle Fav","operationId":"toggle_fav_app_toggle_favourite_model_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavouriteModelRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/admin/outputs/restore/{job_id}":{"post":{"tags":["Dashboard"],"summary":"Admin Restore Output","operationId":"admin_restore_output_app_admin_outputs_restore__job_id__post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/admin/outputs/restore/{job_id}/status":{"get":{"tags":["Dashboard"],"summary":"Admin Restore Status","operationId":"admin_restore_status_app_admin_outputs_restore__job_id__status_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/app/admin_upload_assets":{"post":{"tags":["Dashboard"],"summary":"Admin Upload Assets","operationId":"admin_upload_assets_app_admin_upload_assets_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_admin_upload_assets_app_admin_upload_assets_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/account/balance":{"get":{"tags":["Account"],"summary":"Get wallet balance","description":"Return the credit balance for the authenticated account.","operationId":"get_account_balance_api_v1_account_balance_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/account/topup":{"post":{"tags":["Account"],"summary":"Create Stripe top-up checkout","description":"Create a Stripe checkout session for topping up credits. Returns a checkout URL.","operationId":"topup_credits_api_v1_account_topup_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/account/auto-topup":{"get":{"tags":["Account"],"summary":"Auto-topup settings","description":"Get the auto-topup settings for the authenticated user.","operationId":"get_auto_topup_api_v1_account_auto_topup_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Account"],"summary":"Auto-topup settings","description":"Update auto-topup settings (enabled, threshold, topup_amount).","operationId":"update_auto_topup_api_v1_account_auto_topup_put","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/account/auto-topup/verify":{"get":{"tags":["Account"],"summary":"Verify auto-topup setup","description":"Verify a completed Stripe setup session and save the payment method.","operationId":"verify_auto_topup_setup_api_v1_account_auto_topup_verify_get","parameters":[{"name":"session_id","in":"query","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/account/auto-topup/setup":{"post":{"tags":["Account"],"summary":"Configure auto-topup payment method","description":"Create a Stripe Checkout Session (setup mode) to save a card. Returns a checkout URL.","operationId":"create_auto_topup_setup_api_v1_account_auto_topup_setup_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/keys":{"get":{"tags":["API Keys"],"summary":"List or create API keys","description":"List all API keys for the authenticated user.","operationId":"list_keys_api_v1_keys_get","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["API Keys"],"summary":"List or create API keys","description":"Create a new API key for the authenticated user.\n\nPass ``\"is_test\": true`` in the JSON body to create a sandbox key that\nnever deducts credits and returns mock outputs.","operationId":"create_key_api_v1_keys_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/keys/{key_id}":{"delete":{"tags":["API Keys"],"summary":"Delete an API key","description":"Delete an API key by ID.","operationId":"delete_key_api_v1_keys__key_id__delete","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"integer","title":"Key Id"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/models":{"get":{"tags":["API"],"summary":"List Models","description":"Public catalog of every model available on muapi.ai with pricing.\n\nReturns one entry per model with `name` (use as the endpoint slug —\n`POST /api/v1/{name}`), human-readable `description` and `category`, the\nbase USD `cost` per call, and a `cost_strategy` flag.\n\nCost semantics:\n  • `cost_strategy == \"fixed_cost\"` (or any strategy not in the dynamic\n    registry) → `cost` is the exact USD price per call.\n  • Otherwise → `cost` is a representative base; the final price depends\n    on the request payload (duration, resolution, etc.). Call\n    `POST /api/v1/models/{name}/estimate-cost` with the same payload you\n    plan to submit to get the exact USD price.\n\nEvery generation response also includes the real charge as\n`cost.amount_usd` plus the `X-MuAPI-Cost-USD` response header, so this\nendpoint is for pre-flight pricing UI only.","operationId":"list_models_api_v1_models_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string","description":"Filter by category, e.g. 'Text to Image', 'Text to Video', 'Image to Video', 'Image to Image', 'Video to Video', 'Text to Audio', 'Image to 3D'.","title":"Category"},"description":"Filter by category, e.g. 'Text to Image', 'Text to Video', 'Image to Video', 'Image to Image', 'Video to Video', 'Text to Audio', 'Image to 3D'."},{"name":"family","in":"query","required":false,"schema":{"type":"string","description":"Filter by model family slug (e.g. 'flux', 'veo3', 'kling').","title":"Family"},"description":"Filter by model family slug (e.g. 'flux', 'veo3', 'kling')."},{"name":"group_of","in":"query","required":false,"schema":{"type":"string","description":"Filter by group (e.g. 'image-generation').","title":"Group Of"},"description":"Filter by group (e.g. 'image-generation')."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/models/{name}":{"get":{"tags":["API"],"summary":"Get Model","description":"Pricing + metadata for a single model.\n\nReturns the same shape as `GET /api/v1/models` for one model, plus the\nfull `input_schema` and `output_schema` so callers can introspect the\nrequest payload without hitting `/openapi.json`.","operationId":"get_model_api_v1_models__name__get","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/changelog":{"get":{"tags":["API"],"summary":"Get Changelog","description":"Public changelog — most recently added models, sorted by created_at desc.\n\nAutomatically reflects every model synced via sync_schema_to_db.py.\nNo auth required.","operationId":"get_changelog_api_v1_changelog_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/models/{name}/estimate-cost":{"post":{"tags":["API"],"summary":"Estimate Model Cost","description":"Quote the exact USD cost for a given model + request payload.\n\nBody is the same JSON you would `POST` to `/api/v1/{name}`. For models\nwith dynamic pricing (video duration, resolution, audio length, etc.)\nthis runs the same cost function the billing system uses, so the quote\nmatches what you'll actually be charged.\n\nFor fixed-price models the base `cost` is returned.\n\nUse this to surface a price preview to your end users before triggering\nthe generation.","operationId":"estimate_model_cost_api_v1_models__name__estimate_cost_post","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/agent-skills":{"get":{"tags":["API"],"summary":"List Public Agent Skills","description":"Public catalog of built-in muapi agent skill recipes.\n\nReturns the name, description, inputs, triggers, and estimated cost for\nevery recipe shipped in `agent/skills/`. No auth — these are discovery\nmetadata so external agents (Claude, Cursor, custom LLM apps) can\nenumerate which workflow recipes muapi.ai offers without needing an\naccount first. Use `GET /api/v1/agent-skills/{name}` to fetch the full\nmarkdown body.","operationId":"list_public_agent_skills_api_v1_agent_skills_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/agent-skills/{name}":{"get":{"tags":["API"],"summary":"Get Public Agent Skill","description":"Full markdown body for a single built-in agent skill recipe.\n\nBody is the natural-language recipe the agent reads + executes. Inputs\nschema is also returned so clients can prompt the user for required\nfields before invoking the recipe.","operationId":"get_public_agent_skill_api_v1_agent_skills__name__get","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/upload_file":{"post":{"tags":["Files"],"summary":"Upload media to Muapi-hosted storage","operationId":"upload_file_api_v1_upload_file_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/get_upload_url":{"get":{"tags":["Files"],"summary":"Get a presigned S3 upload URL","operationId":"get_upload_url_api_v1_get_upload_url_get","parameters":[{"name":"filename","in":"query","required":true,"schema":{"type":"string","title":"Filename"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generate_video_prompt":{"post":{"tags":["Utilities"],"summary":"Generate Video Prompt","operationId":"generate_video_prompt_api_v1_generate_video_prompt_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoPromptRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/tiktok-carousel":{"post":{"tags":["Utilities"],"summary":"Tiktok Carousel","operationId":"tiktok_carousel_api_v1_tiktok_carousel_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TikTokCarouselRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generate_video_scene_prompts":{"post":{"tags":["Utilities"],"summary":"Generate Video Scene Prompts","operationId":"generate_video_scene_prompts_api_v1_generate_video_scene_prompts_post","parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoPromptRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/ai-clipping":{"post":{"tags":["Video: Edit & Effects"],"summary":"ai-clipping","operationId":"ai_clipping_api_v1_ai_clipping_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AIClippingRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Automatically clip highlights from long videos using AI. Input: video. Output: clipped highlight video. Use for: video clipping, highlight reel, social media clips."}},"/api/v1/autocrop":{"post":{"tags":["Utilities"],"summary":"Autocrop","operationId":"autocrop_api_v1_autocrop_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutocropRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/flux-dev-image":{"post":{"tags":["Image: Text-to-Image"],"summary":"flux-dev (balanced)","operationId":"generate_flux_dev_image_api_v1_flux_dev_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate high-quality images from text prompts using Flux Dev. Input: text prompt. Output: image. Use for: text-to-image generation, creative visuals, detailed illustrations, photorealistic renders."}},"/api/v1/flux_dev_lora_image":{"post":{"tags":["Image: Text-to-Image"],"summary":"flux-dev-lora","operationId":"generate_flux_dev_lora_image_api_v1_flux_dev_lora_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate images from text using Flux Dev with LoRA fine-tuning support. Input: text prompt, LoRA weights. Output: image. Use for: custom style generation, fine-tuned models."}},"/api/v1/flux-schnell-image":{"post":{"tags":["Image: Text-to-Image"],"summary":"flux-schnell (fast)","operationId":"generate_flux_schnell_image_api_v1_flux_schnell_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate images from text quickly using Flux Schnell (fast). Input: text prompt. Output: image. Use for: rapid image generation, quick prototyping, bulk image creation."}},"/api/v1/flux-kontext-dev-i2i":{"post":{"tags":["Image: Edit & Reference"],"summary":"flux-kontext-dev-i2i (balanced)","operationId":"generate_flux_kontext_dev_image_api_v1_flux_kontext_dev_i2i_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KontextImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Edit and transform images using Flux Kontext Dev (image-to-image). Input: image, edit instruction. Output: edited image. Use for: image editing, object change, scene modification."}},"/api/v1/flux-kontext-dev-t2i":{"post":{"tags":["Image: Text-to-Image"],"summary":"flux-kontext-dev-t2i (balanced)","operationId":"generate_flux_kontext_dev_image_api_v1_flux_kontext_dev_t2i_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxKontextT2I"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate contextually aware images from text using Flux Kontext Dev. Input: text prompt, optional context images. Output: image. Use for: contextual image generation, maintaining scene consistency."}},"/api/v1/hidream_i1_fast_image":{"post":{"tags":["Image: Text-to-Image"],"summary":"hidream-i1-fast (fast)","operationId":"generate_hidream_i1_fast_image_api_v1_hidream_i1_fast_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HiDreamImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate images quickly from text using HiDream I1 Fast (16-step). Input: text prompt. Output: image. Use for: fast generation, quick iteration."}},"/api/v1/hidream_i1_dev_image":{"post":{"tags":["Image: Text-to-Image"],"summary":"hidream-i1-dev (balanced)","operationId":"generate_hidream_i1_dev_image_api_v1_hidream_i1_dev_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HiDreamImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate balanced quality images from text using HiDream I1 Dev. Input: text prompt. Output: image. Use for: quality/speed balance, development use."}},"/api/v1/hidream_i1_full_image":{"post":{"tags":["Image: Text-to-Image"],"summary":"hidream-i1-full (best)","operationId":"generate_hidream_i1_full_image_api_v1_hidream_i1_full_image_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HiDreamImageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate highest-quality images from text using HiDream I1 Full (17B sparse MoE). Input: text prompt. Output: image. Use for: best quality image generation, commercial use, fine detail."}},"/api/v1/generate_wan_video_prompt":{"post":{"tags":["Utilities"],"summary":"Generate Wan Video Prompt","operationId":"generate_wan_video_prompt_api_v1_generate_wan_video_prompt_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WanPromptRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generate_wan_ai_effects":{"post":{"tags":["Video: Edit & Effects"],"summary":"ai-video-effects","operationId":"generate_wan_ai_effects_api_v1_generate_wan_ai_effects_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WanEffectRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Apply AI visual effects to videos using Wan AI Effects. Input: video, effect prompt. Output: stylized video. Use for: video effects, motion style transfer, cinematic filters."}},"/api/v1/predictions/{id}/result":{"get":{"tags":["Predictions"],"summary":"Poll a prediction's status & outputs","operationId":"get_prediction_result_api_v1_predictions__id__result_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/predictions/{id}/media":{"delete":{"tags":["Predictions"],"summary":"Delete prediction media","description":"Delete input and output media (images/videos) from a prediction without deleting the request.","operationId":"delete_prediction_media_api_v1_predictions__id__media_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/get-usage-log-id/{request_id}":{"get":{"tags":["Predictions"],"summary":"Internal lookup: request_id → usage log id","operationId":"get_usage_log_id_api_v1_get_usage_log_id__request_id__get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageLogIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/veo3-fast-text-to-video":{"post":{"tags":["Video: Text-to-Video"],"summary":"veo3-fast-text-to-video (fast)","operationId":"veo3_fast_text_to_video_api_v1_veo3_fast_text_to_video_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo3T2VRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate videos from text quickly using Google Veo 3 Fast. Input: text prompt. Output: 8-second video. Use for: fast video generation, quick video prototyping."}},"/api/v1/veo3-fast-image-to-video":{"post":{"tags":["Video: Image-to-Video"],"summary":"veo3-fast-image-to-video (fast)","operationId":"veo3_fast_image_to_video_api_v1_veo3_fast_image_to_video_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo3I2VRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Animate images into video quickly using Google Veo 3 Fast. Input: image, text prompt. Output: video. Use for: fast image animation."}},"/api/v1/veo3-text-to-video":{"post":{"tags":["Video: Text-to-Video"],"summary":"veo3-text-to-video (balanced)","operationId":"veo3_text_to_video_api_v1_veo3_text_to_video_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo3T2VRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate cinematic videos from text using Google Veo 3. Input: text prompt. Output: 8-second video. Use for: high-quality video generation, cinematic shots, motion graphics."}},"/api/v1/veo3-image-to-video":{"post":{"tags":["Video: Image-to-Video"],"summary":"veo3-image-to-video (balanced)","operationId":"veo3_image_to_video_api_v1_veo3_image_to_video_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo3I2VRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Animate images into video using Google Veo 3. Input: image, text prompt. Output: video. Use for: image animation, bringing photos to life."}},"/api/v1/ai-image-upscale":{"post":{"tags":["Image: Enhance"],"summary":"ai-image-upscaler","operationId":"ai_image_upscale_api_v1_ai_image_upscale_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Upscale images to higher resolution using AI. Input: image. Output: upscaled high-resolution image. Use for: image enhancement, resolution boost, print quality improvement."}},"/api/v1/ai-image-face-swap":{"post":{"tags":["Image: Enhance"],"summary":"ai-image-face-swap","operationId":"ai_image_face_swap_api_v1_ai_image_face_swap_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageFaceSwapRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Swap faces between images using AI. Input: source image, target face image. Output: image with swapped face. Use for: face swap, creative portraits."}},"/api/v1/ai-video-face-swap":{"post":{"tags":["Video: Edit & Effects"],"summary":"ai-video-face-swap","operationId":"ai_video_face_swap_api_v1_ai_video_face_swap_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoFaceSwapRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Swap faces in video using AI. Input: video, target face image. Output: video with swapped face. Use for: video face swap."}},"/api/v1/ai-dress-change":{"post":{"tags":["Video: Edit & Effects"],"summary":"ai-dress-change","operationId":"ai_dress_change_api_v1_ai_dress_change_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiDressChangeRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Change clothing/outfit on person in image or video using AI. Input: image/video, new outfit description or image. Output: video with new outfit. Use for: virtual try-on, fashion video, outfit change."}},"/api/v1/flux-lora-trainer":{"post":{"tags":["Image: Text-to-Image"],"summary":"Flux Lora Trainer","operationId":"flux_lora_trainer_api_v1_flux_lora_trainer_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxLoraTrainerRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/mmaudio-v2/text-to-audio":{"post":{"tags":["Audio"],"summary":"mmaudio-v2-text-to-audio (balanced)","operationId":"mmaudio_v2_text_to_audio_api_v1_mmaudio_v2_text_to_audio_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MmAudioT2ARequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate audio/sound effects from text using MMAudio v2. Input: text description. Output: audio. Use for: ambient sounds, sound effects, audio synthesis."}},"/api/v1/mmaudio-v2/video-to-video":{"post":{"tags":["Audio"],"summary":"mmaudio-v2-video-to-video","operationId":"mmaudio_v2_text_to_audio_api_v1_mmaudio_v2_video_to_video_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MmAudioV2VRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Add synchronized audio/sound effects to video using MMAudio v2. Input: video. Output: video with generated audio. Use for: adding sound to silent video, ambient sound generation."}},"/api/v1/ai-background-remover":{"post":{"tags":["Image: Enhance"],"summary":"ai-background-remover","operationId":"ai_background_remover_api_v1_ai_background_remover_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Remove background from images using AI. Input: image. Output: image with transparent background. Use for: background removal, product photos, cutout creation."}},"/api/v1/ai-product-shot":{"post":{"tags":["Image: Enhance"],"summary":"ai-product-shot","operationId":"ai_product_shot_api_v1_ai_product_shot_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiProductShotRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate product shots with custom backgrounds using AI. Input: product image, scene description. Output: product shot. Use for: product advertising, lifestyle product shots."}},"/api/v1/ai-skin-enhancer":{"post":{"tags":["Image: Enhance"],"summary":"ai-skin-enhancer","operationId":"ai_skin_enhancer_api_v1_ai_skin_enhancer_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Enhance skin quality in portrait images using AI. Input: portrait image. Output: image with enhanced skin. Use for: beauty retouching, skin smoothing."}},"/api/v1/ai-color-photo":{"post":{"tags":["Image: Enhance"],"summary":"ai-color-photo","operationId":"ai_color_photo_api_v1_ai_color_photo_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Colorize black and white photos using AI. Input: grayscale image. Output: colorized image. Use for: photo restoration, colorizing old photos."}},"/api/v1/ai-product-photography":{"post":{"tags":["Image: Enhance"],"summary":"ai-product-photography","operationId":"ai_product_photography_api_v1_ai_product_photography_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductPhotoRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Generate professional product photography backgrounds using AI. Input: product image, background description. Output: professional product photo. Use for: e-commerce product photos, marketing images."}},"/api/v1/ai-ghibli-style":{"post":{"tags":["Image: Enhance"],"summary":"ai-ghibli-style","operationId":"ai_ghibli_style_api_v1_ai_ghibli_style_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Transform images into Studio Ghibli anime style using AI. Input: image. Output: Ghibli-style illustrated image. Use for: anime style transfer, Ghibli-style art, illustrated portraits."}},"/api/v1/ai-anime-generator":{"post":{"tags":["Image: Enhance"],"summary":"ai-anime-generator","operationId":"ai_anime_generator_api_v1_ai_anime_generator_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnimeGeneratorRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Transform images into anime style using AI. Input: image. Output: anime-style image. Use for: anime conversion, manga style, animated portrait."}},"/api/v1/ai-image-extension":{"post":{"tags":["Image: Enhance"],"summary":"ai-image-extension","operationId":"ai_image_extension_api_v1_ai_image_extension_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"type":"string","title":"X-Api-Key"}},{"name":"x-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Embed-Code"}},{"name":"x-agent-embed-code","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Agent-Embed-Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiAppsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"description":"Extend/expand image canvas using AI outpainting. Input: image. Output: expanded image. Use for: image outpainting, canvas expansion, widening photos."}},"/api/v1/ai-object-eraser":{"post":{"tags":["Image: Enhance"],"summary":"ai-object-eraser","operationId":"ai_object_eraser_api_v1_ai_object_eraser_post","parameters":[{"name":"webhook","in":"query","required":false,"schema":{"type":"string","title":"Webhook"}},{"name":"team_id","in":"query","
[...]
